{% extends 'base.html.twig' %}

{% block title %}Edit Traduction{% endblock %}

{% block body %}
    <h1>Edit Traduction</h1>

    {{ include('traduction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_traduction_index') }}">back to list</a>

    {{ include('traduction/_delete_form.html.twig') }}
{% endblock %}
