{% extends 'base.html.twig' %}

{% block title %}Nouveau Membre{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="heading_container mb-5">
            <h2 class="">
            Nouveau membre
            </h2>
        </div>

    {{ include('membre/_form.html.twig') }}

    <a class="abutton mb-5" href="{{ path('app_membre_index') }}">Retour sur les utilisateurs</a>
    </div>

{% endblock %}
